<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superposition.canex.domain.mapper.EmailMapper">
    <insert id="save" parameterType="com.superposition.canex.domain.entity.Email">
        INSERT INTO email(email, registration_date_time)
        VALUES (#{email}, #{registrationDateTime});
    </insert>
</mapper>